/*
accordion component style
*/

.accordion--container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.accordion--item {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.accordion--header {
  outline: none;
  border: none;
  padding: 8px 16px;
  margin: 0;
  font-weight: bold;
  text-align: left;
  line-height: 1;
}
.accordion--content {
  margin: 8px;
  overflow: hidden;
  max-height: 100%;
  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.accordion--content__hidden {
  max-height: 0px;
}
